body{

min-height: 100vh;
display: flex;
align-items: center;
justify-content: center;

}

.card{

background-color: hsl(0, 0%, 100%);
overflow: hidden;
padding: 1%;
width: 35%;
display: flex;
border-radius: 15px;
gap: 25px;
flex-direction: column;

}

.card div h2, li{

margin-left: 2rem;


}



.card>img{


width: 100%;
border-radius: 15px;




}

